<!DOCTYPE html>
<html ng-app="kss">
<head>
    <title></title>
    <link href="assets/css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div id="container" ng-controller="MainCtrl">
    <form class="form-wrapper cf" ng-submit="lookup()">
        <input type="text" placeholder="Enter number..." required ng-model="number">
        <button type="submit">Lookup</button>
    </form>
    <div id="results">
        <div class="result" ng-repeat="result in results">
            {{result.time}}
            {{result.result}}
            {{result.description}}
        </div>
    </div>
</div>
<script src="assets/js/angular.js" type="text/javascript" rel="script"></script>
<script src="assets/js/main.js" type="text/javascript" rel="script"></script>
</body>
</html>